<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Formulario - MaquinaIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class = "container">
        <h2>Datos del Usuario</h2>
        <form method="POST">
            <label>Nombre:</label>
            <input type="text" name="nombre" required><br>

            <label>Cédula o Pasaporte:</label>
            <input type="text" name="cedula" required><br>

            <label>País de residencia:</label>
            <input type="text" name="pais_residencia" required><br>

            <label>País al que desea ingresar:</label>
            <input type="text" name="pais_destino" required><br>

            <label>Profesión:</label>
            <input type="text" name="profesion" required><br>

            <label>Situación migratoria:</label>
            <input type="text" name="situacion" required><br>

            <label>Estado civil:</label>
            <input type="text" name="estado_civil" required><br>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</container>

</html>